[submodule "backend"]
	path = backend
	url = https://github.com/simplebash-official/pos-backend.git
	branch = master
[submodule "document-server"]
	path = document-server
	url = https://github.com/simplebash-official/document-server.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/simplebash-official/pos-frontend.git
	branch = main
